 h1{
   font-family: "Times New Roman";
 }

p{
  font-family: monospace;
  font-style:oblique;
}
/*default font-size = 16px*/
body{
  /* here set default font-size 20px */
  font-size: 16px;
}

#p2{
  font-size: 32px;
  font-weight: bold;
}
h1{
  text-align: center;
}
