h1 {
  font-family: 'Piedra', cursive;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  height: 250px;
  width: 100px;
  border: 6px solid white;
}

#d1 {
  background: #173F5F;
  margin-left: 20px;
  margin-right: 20px;
}

#d2 {
  background: #20639B;
  margin-left: 20px;
  margin-right: 20px;
}

#d3 {
  background: #3CAEA3;
  margin-left: 20px;
  margin-right: 20px;
}

#d4 {
  background: #F6D55C;
  margin-left: 20px;
  margin-right: 20px;
}

#d5 {
  background: #ED553B;
  margin-left: 20px;
  margin-right: 20px;
}
